@import "node_modules/bootstrap-less/bootstrap/bootstrap";
@import "node_modules/font-awesome/less/font-awesome";
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');



html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 10px;
    width:100%;
    font-weight: 100;
    font-family: 'Roboto Condensed';
}

.title {
    font-size: 1.5em;
    text-align:center;
}

.api-link{
	font-weight:800;
	text-align:center;
	padding:30px;
}

li {
    padding:10px;
}